@use 'mixins' as *;
@use 'typography' as *;
@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include cross-browser-transition-set-short;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: $light-mode-panel-color;
    [class~=box],
    input:enabled {
        border-radius: .3125rem;
    }
    &.dark {
        background-color: $dark-mode-secondary-color;
        .dashboard,
        .dashboard-content {
            background-color: $dark-mode-secondary-color;
            height: 100vh;
        }
        .dashboard .dashboard-content .title {
            .text {
                color: $dark-mode-text-color;
                font-weight: 200;
            }
            i {
                color: $dark-mode-black-light-color;
                background-color: transparent;
            }
        }
        .dashboard .top {
            background-color: $dark-mode-secondary-color;
        }
        .dashboard-content .overview .boxes {
            .box1 {
                background-color: $dark-mode-panel1-color;
            }
            .box2 {
                background-color: $dark-mode-panel2-color;
            }
            .box3 {
                background-color: $dark-mode-panel3-color;
            }
        }
        :is(.order-data) {
            color: $dark-mode-text-color;
        }
        :is(span.text) {
            color: $dark-mode-text-color;
        }
        :is(input) {
            background-color: $dark-mode-primary-color;
            border-color: $dark-mode-border-color;
            color: $dark-mode-text-color;
        }
        :is(.sidebar-toggle, .fa-magnifying-glass) {
            color: $dark-mode-title-icon-color !important;
            &:hover {
                color: $dark-mode-toggle-color !important;
            }
        }
        nav {
            background-color: $dark-mode-nav-bar-color;
            border: none;
            .logo-name span {
                font-weight: 200;
                color: $dark-mode-text-color;
            }
            .nav-links a:hover {
                background-color: $dark-mode-primary-color;
                border-radius: .3125rem;
            }
            .log-out-btn a:hover {
                border-radius: .3125rem;
                background-color: $dark-mode-primary-color;
            }
            .logo-name, 
            .menu-items ul.nav-links li a i,
            .menu-items ul.nav-links li a > span,
            .menu-items .logout-mod li a i,
            .menu-items .logout-mod li a > span {
                color: $dark-mode-text-color;
            }
        }
        .switch::before {
            left: 1.25rem !important;
            @include cross-browser-transition-set-short;
            background-color: $dark-mode-secondary-color !important;
        }
        &.top {
            background-color: #ff0000;
        }
    }
}