@media (max-width: 1000px) {
    nav {
        width: 4.5625rem;
        .logo_name {
            opacity: 1;
            pointer-events: none;
        }
        [class~=link-name] {
            opacity: 1;
            pointer-events: none;
        }
        .dashboard .top,
        .dashboard .dashboard-content {
            left: 4.5625rem !important;
            width: calc(100% - 4.5625rem) !important;
        }
        &.close {
            width: 15.625rem;
            .logo_name {
                opacity: 1;
                pointer-events: auto;
            }
            [class~=link-name] {
                opacity: 1;
                pointer-events: auto;
            }
            .dashboard .top,
            .dashboard .dashboard-content {
                left: 15.625rem !important;
                width: calc(100% - 15.625rem) !important;
            }  
        }
    }
    .recent-orders .order-data {
        overflow-y: scroll;
        overflow-x: scroll;
    }
}

@media (max-width: 780px) {
    .dashboard-content .boxes .box {
        width: calc(100% / 2 - .9375rem);
        margin-top: .9375rem;
    }
}

@media (max-width: 660px) {
    .dashboard-content .boxes .box {
        width: 100% !important;
        margin-top: .9375rem !important;
    }
}

@media (max-width: 500px) {
    nav {
        width: 4.5625rem !important;
        .logo_name,
        [class~=link-name] {
            opacity: 0 !important;
            pointer-events: none !important;
        }
    }
    .dashboard-content,
    .dashboard .top {
        left: 4.5625rem !important;
        width: calc(100% - 4.5625rem) !important;
        .sidebar-toggle {
            display: none;
        }
    }
}