@media (max-width: 1000px) {
    nav {
        width: 73px;
        .logo_name {
            opacity: 1;
            pointer-events: none;
        }
        [class~=link-name] {
            opacity: 1;
            pointer-events: none;
        }
        .dashboard .top,
        .dashboard .dashboard-content {
            left: 73px !important;
            width: calc(100% - 73px) !important;
        }
        &.close {
            width: 250px;
            .logo_name {
                opacity: 1;
                pointer-events: auto;
            }
            [class~=link-name] {
                opacity: 1;
                pointer-events: auto;
            }
            .dashboard .top,
            .dashboard .dashboard-content {
                left: 250px !important;
                width: calc(100% - 250px) !important;
            }  
        }
    }
    .recent-orders .order-data {
        overflow-y: scroll;
        overflow-x: scroll;
    }
}

@media (max-width: 780px) {
    .dashboard-content .boxes .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}

@media (max-width: 660px) {
    .dashboard-content .boxes .box {
        width: 100% !important;
        margin-top: 15px !important;
    }
}