$light-mode-primary-color: darkgrey;
$light-mode-secondary-color: #4f3838;
$light-mode-panel-color: whitesmoke;
$light-mode-text-color: black;
$light-mode-black-light-color: #222;
$light-mode-border-color: #e6e5e5;
$light-mode-toggle-color: #ddd;
$light-mode-box1-color: #4da3ff;
$light-mode-box2-color: #ffe6ac;
$light-mode-box3-color: #e7d1fc;
$light-mode-title-icon-color: whitesmoke;

$dark-mode-primary-color: #3a3b3c;
$dark-mode-secondary-color: #242526;
$dark-mode-panel-color: #242526;
$dark-mode-text-color: #ccc;
$dark-mode-black-light-color: #ccc;
$dark-mode-border-color: #4d4c4c;
$dark-mode-toggle-color: whitesmoke;
$dark-mode-box1-color: #3a3b3c;
$dark-mode-box2-color: #3a3b3c;
$dark-mode-box3-color: #3a3b3c;
$dark-mode-title-icon-color: #ccc;

$transition-03: all 0.3s ease-in;
$transition-05: all 0.5s ease-in;