$light-mode-primary-color: darkgrey;
$light-mode-secondary-color: rgb(79, 56, 56);
$light-mode-panel-color: whitesmoke;
$light-mode-text-color: black;
$light-mode-black-light-color: #222;
$light-mode-border-color: #e6e5e5;
$light-mode-toggle-color: #ddd;
$light-mode-box1-color: #4da3ff;
$light-mode-box2-color: #ffe6ac;
$light-mode-box3-color: #e7d1fc;
$light-mode-title-icon-color: whitesmoke;
$light-mode-transition-03: all 0.3s ease-in;
$light-mode-transition-05: all 0.5s ease-in;

$dark-mode-primary-color: black;
$dark-modesecondary-color: rgb(79, 56, 56);
$dark-modepanel-color: whitesmoke;
$dark-modetext-color: black;
$dark-modeblack-light-color: #222;
$dark-modeborder-color: #e6e5e5;
$dark-modetoggle-color: #ddd;
$dark-modebox1-color: #4da3ff;
$dark-modebox2-color: #ffe6ac;
$dark-modebox3-color: #e7d1fc;
$dark-modetitle-icon-color: whitesmoke;
$dark-modetransition-03: all 0.3s ease-in;
$dark-modetransition-05: all 0.5s ease-in;