$light-mode-primary-color: #f8f8f8;
$light-mode-secondary-color: #663f3f;
$light-mode-nav-bar-color: #f8f8f8;
$light-mode-panel-color: #f5f5f5;
$light-mode-text-color: black;
$light-mode-black-light-color: #222;
$light-mode-border-color: #e6e5e5;
$light-mode-toggle-color: #ddd;
$light-mode-box1-color: #4da3ff;
$light-mode-box2-color: #ffe6ac;
$light-mode-box3-color: #e7d1fc;
$light-mode-title-icon-color: #f5f5f5;

$dark-mode-primary-color: #3a3b3c;
$dark-mode-secondary-color: #242526;
$dark-mode-nav-bar-color: #111;
$dark-mode-panel1-color: #d6d6d6;
$dark-mode-panel2-color: #b3b3b3;
$dark-mode-panel3-color: #727272;
$dark-mode-text-color: #ccc;
$dark-mode-black-light-color: #ccc;
$dark-mode-border-color: #4d4c4c;
$dark-mode-toggle-color: #f5f5f5;
$dark-mode-box1-color: #3a3b3c;
$dark-mode-box2-color: #3a3b3c;
$dark-mode-box3-color: #3a3b3c;
$dark-mode-title-icon-color: #ccc;

$transition-03: all 0.3s ease-in;
$transition-05: all 0.5s ease-in;