@import 'partials/mixins', 'partials/typography', 'partials/globals', 'partials/responsive', 'partials/variables';


.dashboard {
    background-color: $light-mode-panel-color;
    min-height: 100vh;
    transition: $transition-05;
    .dashboard-content {
        padding-top: 130px;
        position: absolute;
        left: 285px;
        .title {
            display: flex;
            align-items: center;
            margin: 70px 0 30px 0;
            i {
                @include flex-central-align;
                position: relative;
                height: 35px;
                width: 35px;
                background-color: $light-mode-primary-color;
                color: $light-mode-title-icon-color;
            }
            .text {
                font-size: 24px;
                font-weight: 600;
                color: $light-mode-text-color;
                margin-left: 10px;
            }
        }
        .boxes {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .box {
                padding: 15px 20px;
                margin: 0 40px;
                width: 100%;
                display: inherit;
                flex-direction: column;
                align-items: center;
                .box1 {
                    background-color: $light-mode-box1-color;
                }
                .box2 {
                    background-color: $light-mode-box2-color;
                }
                .box3 {
                    background-color: $light-mode-box3-color;
                }
                i {
                    font-size: 32px;
                }
                .text {
                    white-space: nowrap;
                    font-size: 18px;
                    font-weight: 600;
                    color: $light-mode-text-color;
                }
                .number {
                    font-size: 28px;
                    font-weight: 600;
                    color: $light-mode-text-color;
                }
            }
        }
    }
    .top {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 250px;
        padding: 10px 14px;
        width: calc(100% - 250px);
        transition: $transition-05;
        .search-box{
            position: relative;
            height: 45px;
            max-width: 600px;
            width: 100%;
            margin: 0 30px;
            i {
                position: absolute;
                left: 10px;
                font-size: 18px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 99;
            }
            input {
                position: absolute;
                border: 1px solid $light-mode-border-color;
                padding: 0 25px 0 40px; 
                height: 45px;
                width: 100%;
            }
        }
        .sidebar-toggle {
            font-size: 26px;
            color: $light-mode-text-color;
            cursor: pointer;
        }
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: $light-mode-nav-bar-color;
    border-right: 1px solid $light-mode-border-color;
    transition: $transition-05;
    &.close {
        width: 73px !important;
        ~ .dashboard .top {
            left: 73px;
            width: calc(100% - 73px);
        }
        .logo-name span {
            opacity: 0;
        }
        .logo_name {
            opacity: 0;
            pointer-events: none;
        }
        li a .link-name {
            opacity: 0;
            pointer-events: none;
        }
    }
    .logo-name .logo_name {
        font-size: 22px;
        font-weight: 200;
        color: $light-mode-text-color;
        transition: $transition-05;
    }
    .nav-links li:hover {
        background-color: $dark-mode-primary-color;
        border-radius: 5px;   
    }
    .log-out-btn {
        margin-right: 30px;
    }
    .logo-image {
        display: flex;
        justify-content: center;
        min-width: 45px;
        img {
            width: 45px;
            object-fit: cover;
        }
    }
    .logo-name {
        font-family: 'Roboto', sans-serif;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        font-size: 22px;
        font-weight: 600;
        color: $light-mode-text-color;
        span {
            padding-left: 10px;
            text-align: center;
            font-weight: 200;
            font-size:20px;
        }
    }
    .menu-items {
        margin: 40px 15px 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
            list-style-type: none;
            transition: $transition-03;
            a {
                display: flex;
                align-items: center;
                height: 50px;
                text-decoration: none;
                transition: $transition-03;
                &:hover i,
                &:hover .link-name {
                    color: $light-mode-toggle-color;
                    transition: $transition-03;
                }
                .link-name {
                    color: $light-mode-black-light-color;
                    transition: $transition-03;
                }
                i {
                    min-width: 45px;
                    height: 100%;
                    color: $light-mode-black-light-color;
                    transition: $transition-03;
                    @include flex-central-align;
                }
            }
        }
        .mode {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }
        .mode-toggle {
            position: absolute;
            right: 30px;
            height: 50px;
            min-width: 45px;
            @include flex-central-align;
            cursor: pointer;
            .switch {
                position: relative;
                display: inline-block;
                border-radius: 25px;
                height: 22px;
                width: 40px;
                background-color: $light-mode-toggle-color;
                &:before {
                    content: "";
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 15px;
                    width: 15px;
                    background-color: $light-mode-panel-color;
                    border-radius: 50%;
                    transition: $transition-03;
                }
            }
        }
        ul.logout-mod {
            position: absolute;
            bottom: 15px;
            width: 100%;
        }
    }
}

