@import 'partials/mixins', 'partials/typography', 'partials/globals', 'partials/variables';

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: $panel-color;
    .logo-image {
        display: flex;
        justify-content: center;
        min-width: 45px;
        img {
            width: 40px;
            object-fit: cover;
        }
    }
    .logo-name {
        display: flex;
        align-items: center;
        margin-left: 14px;
        font-size: 22px;
        font-weight: 600;
        color: $text-color;
        span {
            padding-left: 10px;
        }
    }
    .menu-items {
        margin-top: 40px;
        margin-left: 15px;
        /*height: calc(100% - 90px);*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
            list-style-type: none;
            a {
                display: flex;
                align-items: center;
                height: 50px;
                text-decoration: none;
                &:hover i,
                &:hover .link-name {
                    color: $secondary-color;
                }
                .link-name {
                    color: $black-light-color;
                }
                i {
                    min-width: 45px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $black-light-color;
                }
            }
        }
        .mode {
            display: flex;
            align-items: center;
        }
        .mode-toggle {
            position: absolute;
            right: 30px;
            height: 50px;
            min-width: 45px;
            background-color: red;
            .switch {
                position: relative;
                height: 22px;
                width: 40px;
                background-color: $toggle-color;
            }
        }
        ul.logout-mod {
            position: absolute;
            bottom: 15px;
            width: 100%;
        }
    }
}

