@import 'partials/mixins', 'partials/typography', 'partials/globals', 'partials/responsive', 'partials/variables';

.dashboard {
    position: relative;
    left: 250px;
    background-color: $light-mode-panel-color;
    height: 100vh;
    width: calc(100% - 250px);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: $light-mode-panel-color;
    border-right: 1px solid $light-mode-border-color;
    .nav-links li:hover {
        background-color: $dark-mode-primary-color;
        border-radius: 5px;   
    }
    .log-out-btn {
        margin-right: 30px;
    }
    .logo-image {
        display: flex;
        justify-content: center;
        min-width: 45px;
        padding-bottom: 10px;
        img {
            width: 40px;
            object-fit: cover;
        }
    }
    .logo-name {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px;
        font-size: 22px;
        font-weight: 600;
        color: $light-mode-text-color;
        span {
            padding-left: 10px;
        }
    }
    .menu-items {
        margin: 40px 15px 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
            list-style-type: none;
            transition: $transition-03;
            a {
                display: flex;
                align-items: center;
                height: 50px;
                text-decoration: none;
                transition: $transition-03;
                &:hover i,
                &:hover .link-name {
                    color: $light-mode-toggle-color;
                    transition: $transition-03;
                }
                .link-name {
                    color: $light-mode-black-light-color;
                    transition: $transition-03;
                }
                i {
                    min-width: 45px;
                    height: 100%;
                    color: $light-mode-black-light-color;
                    transition: $transition-03;
                    @include flex-central-align;
                }
            }
        }
        .mode {
            display: flex;
            align-items: center;
        }
        .mode-toggle {
            position: absolute;
            right: 30px;
            height: 50px;
            min-width: 45px;
            @include flex-central-align;
            cursor: pointer;
            .switch {
                position: relative;
                display: inline-block;
                border-radius: 25px;
                height: 22px;
                width: 40px;
                background-color: $light-mode-toggle-color;
                &:before {
                    content: "";
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 15px;
                    width: 15px;
                    background-color: $light-mode-panel-color;
                    border-radius: 50%;
                    transition: $transition-03;
                }
            }
        }
        ul.logout-mod {
            position: absolute;
            bottom: 15px;
            width: 100%;
        }
    }
}

