@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkgrey;
    --panel-color: whitesmoke;
    --text-color: black;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #ddd;
    --box1-color: #4da3ff;
    --box2-color: #ffe6ac;
    --box3-color: #e7d1fc;
    --title-icon-color: whitesmoke;

    --tran-03: all 0.3s ease-in;
    --tran-05: all 0.5s ease-in;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: 'Roboto Condensed', sans-serif;
}

nav .logo-name {
    display: flex;
    align-items: center;;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--panel-color);
}

nav .logo-image {
    min-width: 45px;
    background-color: #1e1e1e;
}

nav .logo-image img {
    width: 40px;
    object-fit: cover;
}