@use 'partials/globals' as *;
@use 'partials/mixins' as *; 
@use 'partials/typography' as *; 
@use 'partials/responsive' as *;
@use 'partials/variables' as *;

.dashboard {
    background-color: $light-mode-panel-color;
    min-height: 100vh;
    @include cross-browser-transition-set-long;
    .search-box > .fa-magnifying-glass {
        cursor: pointer;
        &:hover {
            color: $light-mode-secondary-color;
        }
    }
    .dashboard-content {
        height: 100vh;
        position: absolute;
        left: 15.625rem;
        padding: .625rem .875rem;
        width: calc(100% - 15.625rem);
        .recent-orders .order-data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .data {
                display: flex;
                flex-direction: column;
                margin: 0 .9375rem;
                .data-list {
                    font-size: 1.125rem;
                    font-weight: 400;
                    margin-top: 1.25rem;
                    white-space: nowrap;
                }
            }
        }
        .data-title {
            font-size: 1.25rem;
            font-weight: 600;
        }
        .title {
            display: flex;
            align-items: center;
            margin: 4.375rem 0 1.875rem 0;
            i {
                @include flex-central-align;
                position: relative;
                height: 2.1875rem;
                width: 2.1875rem;
                background-color: transparent;
            }
            .text {
                font-size: 1.5rem;
                font-weight: 600;
                color: $light-mode-text-color;
                margin-left: .625rem;
            }
        }
        .boxes {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .box {
                padding: .9375rem 4.375rem;
                width: calc(100% / 3 - .9375rem);
                display: inherit;
                flex-direction: column;
                align-items: center;
                &.box1 {
                    background-color: $light-mode-box1-color;
                }
                &.box2 {
                    background-color: $light-mode-box2-color;
                }
                &.box3 {
                    background-color: $light-mode-box3-color;
                }
                i {
                    font-size: 2rem;
                    padding-bottom: .3125rem;
                }
                .text {
                    white-space: nowrap;
                    font-size: 1.125rem;
                    font-weight: 600;
                    color: $light-mode-text-color;
                    padding: .3125rem 0;
                }
                .number {
                    font-size: 1.75rem;
                    font-weight: 600;
                    color: $light-mode-text-color;
                }
            }
        }
    }
    .top {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 15.625rem;
        padding: .625rem .875rem;
        width: calc(100% - 15.625rem);
        @include cross-browser-transition-set-long;
        z-index: 9999;
        background-color: $light-mode-panel-color;
        .search-box{
            position: relative;
            height: 2.8125rem;
            max-width: 37.5rem;
            width: 100%;
            margin: 0 1.875rem;
            i {
                position: absolute;
                left: .625rem;
                font-size: 1.125rem;
                top: 50%;
                @include cross-browser-translate-y-set;
                z-index: 99;
            }
            input {
                position: absolute;
                border: .0625rem solid $light-mode-border-color;
                padding: 0 1.5625rem 0 2.5rem; 
                height: 2.8125rem;
                width: 100%;
            }
        }
        .sidebar-toggle {
            font-size: 1.625rem;
            color: $light-mode-text-color;
            cursor: pointer;
            &:hover {
                color: $light-mode-secondary-color;
            }
        }
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15.625rem;
    background-color: $light-mode-nav-bar-color;
    border-right: .0625rem solid $light-mode-border-color;
    transition:                 $transition-05 !important;
    -webkit-transition:         $transition-05 !important;
    -moz-transition:            $transition-05 !important;
    -o-transition:              $transition-05 !important;
    &.close {
        width: 4.5625rem !important;
        ~ .dashboard .top,
        ~ .dashboard .dashboard-content {
            left: 4.5625rem;
            width: calc(100% - 4.5625rem);
            transition:                 $transition-05 !important;
            -webkit-transition:         $transition-05 !important;
            -moz-transition:            $transition-05 !important;
            -o-transition:              $transition-05 !important;
        }
        .logo-name span {
            opacity: 0;
        }
        .logo_name {
            opacity: 0;
            pointer-events: none;
        }
        li a .link-name {
            opacity: 0;
            pointer-events: none;
        }
    }
    .logo-name .logo_name {
        font-size: 1.125rem;
        font-weight: 200;
        color: $light-mode-text-color;
        @include cross-browser-transition-set-long;
    }
    .nav-links li:hover {
        background-color: $dark-mode-primary-color;
        border-radius: .3125rem;   
    }
    .log-out-btn {
        margin-right: 1.875rem;
    }
    .logo-image {
        display: flex;
        justify-content: center;
        min-width: 2.8125rem;
        img {
            width: 2.8125rem;
            object-fit: cover;
        }
    }
    .logo-name {
        font-family: 'Roboto', sans-serif;
        display: flex;
        align-items: center;
        padding: .625rem .9375rem;
        font-size: 1.375rem;
        font-weight: 600;
        color: $light-mode-text-color;
        span {
            padding-left: .625rem;
            text-align: center;
            font-weight: 200;
            font-size:1.25rem;
        }
    }
    .menu-items {
        margin: 2.5rem .9375rem 0 .9375rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
            list-style-type: none;
            @include cross-browser-transition-set-long;
            a {
                display: flex;
                align-items: center;
                height: 3.125rem;
                text-decoration: none;
                @include cross-browser-transition-set-long;

                &:hover i,
                &:hover .link-name {
                    color: $light-mode-toggle-color;
                    @include cross-browser-transition-set-long;
                }
                .link-name {
                    color: $light-mode-black-light-color;
                    @include cross-browser-transition-set-long;
                }
                i {
                    min-width: 2.8125rem;
                    height: 100%;
                    color: $light-mode-black-light-color;
                    @include cross-browser-transition-set-long;
                    @include flex-central-align;
                }
            }
        }
        .mode {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }
        .mode-toggle {
            position: absolute;
            right: 1.875rem;
            height: 3.125rem;
            min-width: 2.8125rem;
            @include flex-central-align;
            cursor: pointer;
            .switch {
                position: relative;
                display: inline-block;
                border-radius: 1.5625rem;
                height: 1.375rem;
                width: 2.5rem;
                background-color: $light-mode-toggle-color;
                &:before {
                    content: "";
                    position: absolute;
                    left: .3125rem;
                    top: 50%;
                    height: .9375rem;
                    width: .9375rem;
                    background-color: $light-mode-panel-color;
                    border-radius: 50%;
                    @include cross-browser-transition-set-long;
                    @include cross-browser-translate-y-set;
                }
            }
        }
        ul.logout-mod {
            position: absolute;
            bottom: .9375rem;
            width: 100%;
        }
    }
}

